@using CharacterCreator.ClassLibrary.Main
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

<div class="ability">
    <label class="ability-label">@Ability.Name</label>
    <div class="score-with-mod">
        <div class="score-wrapper">
            <InputNumber class="form-control ability-score"
            
                         Value="@Ability.Score"
                         ValueChanged="ScoreChanged"
                         ValueExpression="@( () => Ability.Score )"
                         max="30"
                         min="0"/>
        </div>
        <div class="modifier-wrapper">
            <span class="modifier-display">@ModifierDisplay</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Ability Ability { get; set; }

    [Parameter]
    public EventCallback<int> ScoreChanged { get; set; }

    // Return the modifier as a string with a '+' if it is non-negative.
    private string ModifierDisplay => Ability.Modifier > 0 ? $"+{Ability.Modifier}" : Ability.Modifier.ToString();
}
